@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --one-color: #EBECE9;
    --two-color: #3399FF;
    --three-color: #66FF66;
    --four-color: #CCCCCC;
    --five-color: #333333;
}

button {
    cursor: pointer;
}

section {
    position: relative;
}

h1.title_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 66px;
    /* or 92% */
    color: #000000;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #FFFFFF;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: var(--five-color);
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    /* or 104% */
    color: #FFFFFF;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: var(--five-color);
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
}

p {
    font-style: normal;
    font-weight: 400;
    color: var(--five-color);
}

p.p_16px {
    font-size: 16px;
    line-height: 22px;
}

p.p_14px {
    font-size: 14px;
    line-height: 19px;
}

.blue_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 45px;
    background: var(--two-color);
    border-radius: 30px;
    display: inline-block;
}

.white_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--five-color);
    padding: 10px 45px;
    background: var(--one-color);
    border-radius: 30px;
    display: flex;
    width: 100%;
    max-width: 208px;
    align-items: center;
    justify-content: center;
}

.mb100 {
    margin-bottom: 100px !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background: var(--one-color);
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 26px 0;
    z-index: 999;
}

.header_pages {
    background: #fff;
    padding: 10px 0;
}

.header_pages .logo {
    color: #CDD2D4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    color: var(--five-color);
}

.header ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: var(--five-color);
}

#about {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center bottom;
    padding: 154px 0 182px;
}

.about .p_title {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    display: block;
}

.about .blue_btn {
    margin-top: 50px;
}

#delivery {
    padding: 100px 0 105px;
    background-image: url(../img/bg/delivery_bg.png);
    background-position: left 105px bottom 0;
    background-repeat: no-repeat;
}

.delivery_top {
    display: flex;
    align-items: flex-end;
    gap: 83px;
    margin-bottom: 50px;
}

.delivery_box {
    padding: 30px 10px 30px 20px;
    background-image: url(../img/bg/delivery.png);
    border-radius: 15px;
    background-size: cover;
    min-width: 400px;
    height: 200px;
}

.delivery_box h2 {
    color: #fff;
    margin-bottom: 34px;
}

.delivery_box p {
    color: #fff;
}

.delivery_box_text {
    padding-bottom: 30px;
}

.delivery_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.delivery_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    margin-top: 30px;
}

.delivery_form form input,
.delivery_form form select {
    background: #FFFFFF;
    border: 1px solid var(--five-color);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: var(--five-color);
    padding: 10px 15px;
}

.delivery_form form input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: var(--five-color);
}

.delivery_form_img {
    width: 100%;
    max-width: 637px;
    height: 346px;
    border-radius: 20px;
}

.delivery_form_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_section {
    width: 100%;
    max-width: 493px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

#lease {
    padding: 45px 0 150px;
}

.lease_flex {
    display: flex;
    justify-content: space-between;
    gap: 50px 15px;
    flex-wrap: wrap;
}

.lease_box {
    max-width: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.lease_img {
    border: 2px solid #000000;
    border-radius: 20px;
    width: 346px;
    height: 260px;
}

.lease_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lease .blue_btn {
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 27px;
}

#advantages {
    padding: 68px 0 65px;
}

.advantages_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.advantages_box {
    width: 346px;
    height: 158px;
    background: #3399FF;
    border-radius: 20px;
    background-image: url(../img/bg/advantages_box.png);
    background-repeat: no-repeat;
    background-position: right 13px top 10px;
    padding: 20px 13px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.advantages_box p {
    color: #fff;
}

#maps_info {
    padding: 50px 0 0;
}

.maps_info {
    width: 100%;
    height: 480px;
    border: 2px solid #000000;
    border-radius: 30px;
    overflow: hidden;
}

.maps_info iframe {
    width: 100%;
    height: 100%;
}

#any_questions {
    padding: 150px 0 100px;
    background-image: url(../img/bg/map_bg.png);
    background-position: left bottom 24px;
    background-repeat: no-repeat;
}

.any_questions h2 {
    max-width: 513px;
}

.any_questions form {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.any_questions form input {
    background: #FFFFFF;
    border: 1px solid var(--five-color);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: var(--five-color);
    padding: 10px 15px;
}

.any_questions form::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: var(--five-color);
}

footer {
    padding: 35px 0 30px;
    background-color: var(--two-color);
    background-image: url(../img/bg/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_box {
    position: relative;
}

.footer_box h5 {
    margin-bottom: 10px;
}

.footer_box ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_box ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.insta {
    position: absolute;
    width: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    bottom: 0;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    color: #FFFFFF;
}

.footer_logo img {
    width: 150px;
    height: 150px;
}

.section_name {
    /* Rectangle 8 */
    position: absolute;
    background: #3399FF;
    border-radius: 0px 30px 30px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
    padding: 3px 30px;
}

.about_pages {
    padding-top: 110px;
}

.about ul {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}

.about ul li:after {
    content: "/";
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.about ul li:last-child::after {
    display: none;
}

.about ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
}

.about_pages .about h1 {
    max-width: 483px;
    margin-bottom: 30px;
}

.about_pages .about p {
    max-width: 500px;
    color: #fff;
}

.about_pages .about .blue_btn {
    margin-top: 90px;
}

#orders {
    padding: 50px 0 100px;
}

.orders_info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.orders_info .advantages_box {
    width: 400px;
    height: 122px;
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
}

.orders_info .advantages_box {
    background-size: 100px 100px;
}

.title_section_orders {
    margin-top: 150px;
}

.title_section_orders .blue_btn {
    padding: 10px 60px;
    display: flex;
    width: 100%;
    max-width: 208px;
    align-items: center;
    justify-content: center;
}

.flex_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 58px;
}

.flex_btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    margin-top: 0 !important;
}

#services {
    padding: 50px 0 100px;
}

#services .lease .title_section {
    width: 100%;
    max-width: unset;
}

.advantages_info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.padd_sect {
    padding: 50px 0 100px;
}

.executors_ul {
    padding-left: 20px;
}

.executors_ul li {
    list-style: disc;
}

.executors .title_section {
    max-width: unset;
}

.executors .title_section_orders {
    max-width: 513px;
}

.about {
    position: relative;
}

.about_logo {
    position: absolute;
    right: 0;
    width: 237px;
    height: 237px;
    top: 30%;
}

.about_logo img {
    width: 100%;
    height: 100%;
}

.about_additionally {
    padding: 154px 0 0;
}

.about_additionally .about ul li a {
    color: var(--five-color);
}

.about_additionally .about ul li::after {
    color: var(--five-color);
}

.contact_flex {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    gap: 50px;
}

.contact_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 325px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_info span {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #333333;
}

.contact_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #333333;
}

.contact_box h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
}

.title_section_contact .blue_btn {
    padding: 10px 45px;
    width: 100%;
    max-width: 208px;
}

.title_section_contact {
    margin-bottom: 60px;
}